.AlertContainer{
    position: fixed;
    top: 1rem;
    left: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 80px;
    width: 300px;

    padding: 5px 5px;
    border-radius: 5px;

    background-color: var(--white);
    color: var(--title);

    text-align: center;
}