.orderModalWrapper{

}

.orderModalHeader{
    margin-bottom: 1rem;

    color: var(--title);
    font-weight: 600;
    font-size: 2rem;
    font-family: "Rajdhani", "Inter", "sans-serif";

    display: flex;
    justify-content: center;
    align-items: center;
}