.resultWrapper p{
    font-size: 1.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.resultWrapper p:first-child{
    margin-bottom: 1rem;
}

.resultWrapper p:last-child{
    font-size: 1rem;
}

.resultWrapper .minionGif{
    width: 2rem;
    margin: 0px 5px;
}