.product{
    background: var(--white);
    max-width: 100%;
    padding: 15px 15px 20px;
    
    -webkit-box-shadow: 5px 5px 0px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 0px -2px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 0px -2px rgba(0,0,0,0.75);
}

.product .imagem{
    width: 100%;
    height: 210px;
    object-fit: cover;
    cursor: pointer;

    border: solid 1px black;
}

.product .descripton{
    font-size: 0.9rem;
}

.product .productInfo h2{
    font-family: "rajdhani";
    color: var(--title);
}

.product .productInfo {
    position: relative;
    height: 7rem;
}

.product .priceBox{
    color: var(--title);
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    bottom: 0;
}

.product .priceBox button{
    border-radius: 0;
    border: 1px solid black;
    outline: none;

    background: transparent;

    text-align: center;
    padding: 0px 5px;
    
    font-size: 0.8rem;
    transition: background ease 0.2s;
}

.product .priceBox button:hover{
    background: var(--blue);
}