.container{
    max-width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fit, max(260px));
    grid-gap: 10px;

    padding: 1rem;
}

@media (max-width: 575.98px){
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
}