.ShoppingCart{
    position: fixed;
    top: 20px;
    right: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    border: 1px solid var(--text);
    background: var(--white);

    width: 60px;
    height: 60px;

    cursor: pointer;
}

.icon{
    font-size: 1.5rem;
}

@keyframes addProductEffect {
    0% {background-color: var(--white);}
    50% {background-color: var(--green);}
    100% {background-color: var(--white);}
}

.ShoppingCart.ProductEffect{
    background-color: var(--white);
    animation-name: addProductEffect;
    animation-duration: 0.5s;
}

.numberProducts{
    position: absolute;
    top: -0.5rem;
    right: 0;

    width: 1.5rem;
    height: 1.5rem;

    font-weight: bold;
    color: var(--red);

    border-radius: 50%;
    background-color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;
}